@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Oi";
  src: url("../Fonts/Oi/Oi-Regular.ttf") format("truetype");
}

body {
  background: #030712;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.fuente {
  font-family: "Oi", serif !important;
  font-size: 34px;
  line-height: 1;
}

.valores p:last-child {
  opacity: 0.7;
}
